*.sw[op]
*.egg-info
dist/
__pycache__
.env
.data/
__MACOSX
.DS_Store
build/
venv/
.venv/
.idea/
results/
logs/
neighbors_labels_label_1p.csv
vectordataset/
vectordataset_label_filter/
test_query.csv
test_ids.txt
debug_logs/
ground_truth_ids.csv
matched_metadata.txt
vectordataset_label/